services:
  polars-benchmark:
    build:
      context: .
      dockerfile: Dockerfile.ubuntu2204
    container_name: polars-benchmark
    volumes:
      - ./output:/root/polars-benchmark/output
    environment:
      - SCALE_FACTOR=1.0
    networks:
      - python-network
    stdin_open: true
    tty: true

networks:
  python-network:
    driver: bridge
